@using PC.Webshop.Model
@model Customer

<div class="card col-6">
    <h5 class="card-header"><i class="fas fa-user fa-3x"></i></h5>
    <div class="card-body">
        <h5 class="card-title">Email: <span class="text-info">@Model.Email</span></h5>              
    </div>
</div>