@using PC.Webshop.Model
@model Customer

@*<div class="card col-6">
    <h5 class="card-header"><i class="fas fa-user fa-3x"></i></h5>
    <div class="card-body">
        <h5 class="card-title">Username: <span class="text-info">@Model.Username</span></h5>
        <p class="card-text">Email: <span class="text-info">@Model.Email</span></p>        
    </div>
</div>*@