@using PC.Webshop.Web.Models

@model ProductFilterModel
<form method="post" id="table">
    <div class="form-row">
        <div class="col-3">
            <input asp-for="Name" class="form-control" type="text" placeholder="Pretraži proizvod" />
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-outline-info" onclick="onFilter();">Pretraga</button>
            @if (User.IsInRole("Admin"))
            {
                <a asp-action="Create" class="btn btn-success">Novi</a>
            }
        </div>
    </div>
</form>